
.App {
  text-align: center;
  color:black;

}

.App-logo {
  height: 32px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*background-color: #282c34;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.notesBody{
  height: 100vh;
}

.button_add{
  width: 50px;
  height: 50px;
  position: relative;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 32px;
  font-family: "Calibri Light";
  border-radius: 100%;
  border-width: 1px;
}

.textBoxNotes{
  width: 99%;
  height: 60px;

}
.textBoxFolders{
  width: 75%;
  height: 30px;
  margin-bottom: 15px;
  border-radius: 15px;
  border-width: 1px;
  position: relative;
  display: inline-block;
  text-align: center;


}
.textInput{
  width: 100%;
  height: 30px;
  border-radius: 15px;
  border-width: 1px;
}
.Editor {
  color: black;
  line-height: 18px;
  font-size: 18px;
  width: 100%;
  height: 100%;
}
.NoteEditForm{
  max-width: 700px;
  min-width: 600px;
  height: 200px;
}
.Note {
  color: black;
  line-height: 15px;
  font-size: 18px;
  border-radius: 15px;
  border-width: 2px;
  border: black;
  /*margin: 15px;*/
}
.DateStamp{
  font-size: 10px;
  margin: 10px;
  text-align: left;

}
.NoteField{
  border: 1px solid #ddd;
  border-radius: 3px;
  display: block;
  width: 100%;
  padding-top: 20px;
  padding: 10px;
  /*margin: 0 0 0\px;*/
  box-sizing: border-box;
}
.folders{
  height: 100vh ;
  text-align: center;
  align-items: center;
  align-content: center;
}
.folderButton{
  width: 58%;
  height: 30px;
  text-align: center;
  align-items: center;
  border-radius: 15px;
  border-width: 1px;
  margin-bottom: 20px;
  display: inline-block;
  position: relative;

}
.TextOfNote{
  text-align: left;
}
.TitleOfNote{
  text-align: left;
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.NavigationBar{
  display: inline-block;
  position: relative;
  background-color: #3E8B75;
  width: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

}
.homeButton{
  display: inline-block;
  margin-right: 30px;
  margin-left: 30px;

}
.aboutButton{
  margin-right: 30px;
  margin-left: 30px;
}
.mr-auto{
  display: flex;
  text-align: left;
}
.aboutText{
  display: table-row;
  text-align: left;
  align-items: center;
  flex: content-box;




}